

/* Login Page */
.login-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
}

.register-toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.register-toggle {
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 4px 0;
  border-radius: 0;
}

.register-toggle:hover {
  cursor: pointer;
  background-color: transparent;
}

.error-box {
  padding: 5px 10px;
  background-color: rgb(204, 88, 72);
  border-radius: 7px;
  color: white;
  text-align: center;
}

/* Chat Page */

.message-container {
  width: 800px;
  height: 50vh;
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #33333371;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 15px 80px 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-container::-webkit-scrollbar,
.message-list::-webkit-scrollbar {
  display: none;
}

.message-container {
  scrollbar-width: none;
}

.message-list {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.info-header {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.info-header p {
  padding: 0 15px;
  color: rgb(94, 94, 94);
}

.input-container {
  width: 770px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 12px;
}

.message {
  width: 70%;
  padding: 0.6em 1em;
  background-color: rgb(54, 54, 54);
  border-radius: 20px;
  margin: 10px 0;
}

.status-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-container p {
  text-align: center;
}

.name-input-container {
  width: 800px;
  position: relative;
}


.input-container input {
  flex-grow: 1;
}

.input-container button {
  padding: 0.6em 3em;
}

.my-message {
  background-color: rgb(68, 120, 168);
  color: white;
  align-self: flex-end;
}



